body{
    padding: 0;
    margin: 0;
    position: relative;
    background-color: rgb(27, 27, 27);
    height: 100vh;
    overflow: hidden;
    width: 100%;
}
.circle{
    border-radius: 50%;
    position: absolute;
    animation: animate 1s ease-in  forwards ;
    pointer-events: none;
    transform: translate(-50%,-50%);
}
@keyframes animate{
    0%{
        opacity: 0;
        height: 0;
        width: 0;
    }
    50%{
        opacity: 1;
        max-width: 1000px;
        max-height: 1000px;
    }
    100%{
        opacity: 0;
    }
}